
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
    box-shadow: 2px 2px 2px rgb(185, 185, 185);
    z-index: 1;
    margin-left: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-top: 24px;
    padding-bottom: 24px;


    /* old
    width: 80px; 
    border-radius: 8px; 
    border: solid 4px var(--Primary-Color);
    background-color: var(--Background-Color);*/
    
    /* new */
    width: 280px;
    border-radius: 12px;
    background-color: var(--Primary-Color);
}   
.logoWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 28px;
    font-weight: 800;
    font-family: var(--headerFont);
}
.logo{
    width: 100px;
}
.lists{
    all: unset;
    display: flex;
    flex-direction: column;


}
.list{
    all:unset;
    display: flex;
    align-items: center;
    padding: 16px;
    padding-left: 24px;
    padding-right: 24px;
    color: white;
    gap: 8px;
    cursor: pointer;
}
.active{
    /* background-color: var(--Primary-Color); */
    background-color: #002350;
}

.components{
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}
.icons{
    /* color:var(--Primary-Color); */
    display: flex;
    justify-content: center;
    width: 40px;
}
.logout{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: red;
    cursor: pointer;
    font-size: 20px;
}
.logoutIcon{
    font-size: 32px;
}
.img{
    width: 52px;
    height: 52px;
}
@media (max-width: 1100px) {
    
}
@media (min-width: 1280px) {

}
@media (min-width: 1600px) {

}
@media (min-width: 1920px) {

}
@media (min-width: 2520px) {

}