
.navigation{
    
    width: 100%;
    height: 80px;
    background-color: var(--Primary-Color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;

}

.links {
    all:unset;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

}
.button {
    border: none;
    border-radius: 4px;
    background-color: var(--Primary-Color);
    height: 40px;
    width: 120px;
}
.button:hover{
    background-color: var(--Primary-Color-Hover);

}
.label{
    font-size: 2rem;
    color: white;
    font-family: var(--headerFont);
}